<style>

  .site-header {
    display:none;
  }

  footer {
    background: #A72C2C;
    color: white;
  }

  .contact-list {
    color : white
  }

  .contact-list a {
    color : #ccc;
  }

  .contact-list a:hover {
    color : white;
  }

  #sponsors {
    text-align: right;
  }

  #sponsors img {
    max-height: 5em
  }
  footer p {
    color: white
  }
  footer a, footer a:visited {
    color : white;
  }
  footer p a {
    text-decoration: underline;
  }



  .footer-col-2 {
    width: -webkit-calc(45% - (30px / 2));
    width: calc(45% - (30px / 2));
    text-align: right;
  }

  .footer-col-3 {
    width: -webkit-calc(20% - (30px / 2));
    width: calc(20% - (30px / 2));
    text-align: center;
  }

</style>
<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">


    <h2 class="footer-heading">
      <a href="/">{{ site.title | escape }}</a>
    </h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            <p>{{- site.description | escape -}}</p>
          </li>
          {%- if site.email -%}
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>
          Micro Meso Macro is organized by <a href="http://zuoyou.studio">Zuoyou Studio</a>.
        </p>
      </div>

      <div class="footer-col footer-col-3">
        <ul id="sponsors" class="contact-list">
          <li>
            <a href="http://www.ixxi.fr">
              <img src="/images/ixxi_logo_white.png" alt="logo ">
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</footer>
