<header id="cover" class="cover-home">
  <div class="cover-title">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <h2 class="post-subtitle">{{ page.subtitle | escape }}</h2>
    {% if page.info %}
    <h3>
      {{page.info}}
    </h3>
  </div>
  {% endif %}
  <div id="particles-js"></div>
  <a class="scroll-indicator" href="#intro">
    <div class="scroll-indicator-wrapper">
      <img src="/images/arrow-white.gif" alt="">
    </div>
  </a>
</header>
<div id="intro"></div>

<script src="js/particles.min.js"></script>
<script>
  particlesJS.load('particles-js', 'data/particlesjs-config.json', function(err, config) {
      console.log('callback - particles.js config loaded');
      console.log(err, config)

  });
</script>
