<style type="text/css">


form.form {
  margin: 2em auto 3em auto;
}

form.form .form-input {
  padding-bottom: 1em
}

form.form label {
  display: block;
  margin-bottom: .3em;
}

form.form input, form.form textarea, form.form select, form.form input {
   background-color:#FFFFFF;
   border:solid 1px #A9A9A9;
   font-size:13px;
   color:#000000;

   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   border-radius:5px;

   padding:10px;

   width: 100%;
}
form.form .submit input {
   background-color:#FFFFFF;
   border:solid 1px #A9A9A9;
   font-size:16px;
   color:#000000;
   font-weight:normal;
   padding:8px 25px;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   border-radius:5px;
}

form.form .submit {
   margin-top:0px;
   margin-bottom:0px;
   text-align:left;
   width: auto;
}


</style>

<form class="form" action="https://formspree.io/contact@micromesomacro.com" method="POST" enctype="multipart/form-data">
  <div class="row">
    <div class="form-input">
      <label for="nameInput">Your name</label>
      <input class="u-full-width" type="text" placeholder="Your name…" id="nameInput" name="name">
    </div>
    <div class="form-input">
      <label for="nameInput">Your institution</label>
      <input class="u-full-width" type="text" placeholder="Your institution…" id="insitutionInput" name="institution">
    </div>
    <div class="form-input">
      <label for="exampleEmailInput">Your email (optional)</label>
      <input class="u-full-width" type="email" placeholder="Your email address…" id="exampleEmailInput" name="_replyto">
    </div>
  </div>
  <div class="row">
    <label for="exampleMessage">Message (optional)</label>
    <textarea class="u-full-width" style="height:300px" placeholder="If you want, you can tell us a word about why you plan to attend the workshop…" id="message" name="message" height="30%" maxlength="4000"></textarea>
    <p><small>(max 4000 characters)</small></p>
    <input type="hidden" name="subject" value="Workshop Renens : new submission " />
    <input type="hidden" name="_after" value="./thanks.html" />
    <input class="button-primary submit" type="submit" value="Submit">
  </div>
</form>
