<div id="schedule">
  <h3>Thursday, November 15th</h3>
  <table>
    <tbody>
  	<tr class="coffee-break">
  		<td>09:30</td>
  		<td colspan="2">Welcome Coffee</td>
  	</tr>
  	<tr>
  		<td>10:00</td>
  		<td>Clément Renaud</td>
  		<td>Introduction</td>
  	</tr>
    <tr>
      <td>10:30</td>
      <td>Martin O'Leary</td>
      <td>Generative Mapping</td>
    </tr>
    <tr>
      <td>11:15</td>
  		<td>Philippe Rivière</td>
  		<td>Projection Games</td>
  	</tr>
  	<tr class="lunch">
  		<td>12:00</td>
  		<td colspan="2">Lunch</td>
  	</tr>
  	<tr>
  		<td>13:30</td>
  		<td>Kirell Benzi</td>
  		<td>Artworks from Scientific Data</td>
  	</tr>
  	<tr>
  		<td>14:15</td>
  		<td>Sebastian Grauwin</td>
  		<td>Dynamics of Scientific Networks</td>
  	</tr>
  	<tr>
  		<td>15:00</td>
  		<td>Sara Lenzi</td>
  		<td>Data Sonification</td>
  	</tr>
  	<tr class="coffee-break">
      <td>15:45</td>
      <td colspan="2">Coffee Break</td>
  	</tr>
  	<tr class="workshop">
  		<td>16:30</td>
  		<td>Philippe Rivière</td>
      <td>
        <b>Workshop</b>
        <br />
        Generative cartography with Javascript and Observable HQ
      </td>
  	</tr>
  	<tr>
  		<td>18:00</td>
  		<td colspan="2">End Day 1</td>
  	</tr>
  </tbody>
  </table>
  <table>
    <tbody>
  	<h3>Friday, November 16th</h3>
  	<tr class="coffee-break">
  		<td>09:30</td>
  		<td colspan="2">Morning Coffee</td>
  	</tr>
  	<tr class="workshop">
  		<td>10:00</td>
  		<td>Aurélien Tabard</td>
  		<td>
        <b>Workshop</b>
        <br />
        Plants as a Visualization Medium
      </td>
  	</tr>
    <tr class="lunch">
  		<td>12:00</td>
  		<td colspan="2">Lunch</td>
  	</tr>
  	<tr>
  		<td>13:30</td>
  		<td>Dario Rodighiero</td>
  		<td>Hexagons, Satellites, and Semantic Background</td>
  	</tr>
  	<tr>
  		<td>14:15</td>
  		<td>Samuel Huron</td>
  		<td>Indexical Visualization</td>
  	</tr>
  	<tr>
  		<td>15:00</td>
  		<td>Titouan Poisson</td>
  		<td>The Atlas of Data</td>
  	</tr>
  	<tr class="coffee-break">
      <td>15:45</td>
      <td colspan="2">Coffee Break</td>
  	</tr>
  	<tr>
  		<td>16:30</td>
  		<td>Disnovation.org</td>
  		<td>Art Residencies in Labs</td>
  	</tr>
  	<tr>
  		<td>17:15</td>
  		<td>TBA</td>
  		<td>TBA</td>
  	</tr>
  	<tr>
  		<td>18:00</td>
  		<td colspan="2">End Day 2</td>
  	</tr>
  </tbody>
  </table>

</div>
