<div class="talk-thumb">
  {% capture year %}{{post.time | date: "%Y"}}{% endcapture %}
  <a class="talk-link" href="{{ post.url | relative_url }}">
    <div class="talk-thumb-img">
      <img src="./uploads/{{ year }}/{{ post.img }}" alt="{{ post.title }} Thumbnail">
    </div>
    <div class="overlay"></div>
    <h3 class="talk-thumb-title">
      {{ post.title | escape }}
      <br>
      <small>{{ post.speaker }}</small>
      <br>
    </h3>

    <span class="talk-info">{{ post.type }}{% if post.time %} - {{ post.time | date: "%b %-d - %R"}}{% endif %}</span>
  </a>
</div>
