<section id="talks">
  <ul>
    {% assign sorted = (site.talks | sort: 'time')  %}
    {% for post in sorted %}
    {% capture year %}{{post.time | date: "%Y"}}{% endcapture %}
    {% if year == include.year %}
    <li>
      {% include talk-thumbnail.html post=post%}
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</section>

<script>


  document.querySelectorAll('.talk-link').forEach(function(link){

    link.addEventListener("mouseover", function() {
      // this.querySelector('.talk-thumb-img').style.height = '100%';
      // this.querySelector('.overlay').style.opacity = '0';
      this.querySelector('h3').style.opacity = '0';
    })

    link.addEventListener("mouseout", function() {
      // this.querySelector('.talk-thumb-img').style.height = '20vh';
      // this.querySelector('.overlay').style.opacity = '1';
      this.querySelector('h3').style.opacity = '1';
    })

  })



</script>
