<section id="talks">
  <ul>
    {%- for post in site.talks -%}
    <li class="talk-thumb">
      <a class="talk-link" href="{{ post.url | relative_url }}">
        <div class="talk-thumb-img">
          <img src="/uploads/2018/{{ post.img }}" alt="{{ post.title }} Thumbnail">
        </div>
        <div class="overlay"></div>
        <h3 class="talk-thumb-title">
          {{ post.title | escape }}
          <br>
          <small>{{ post.speaker }}</small>
          <br>
        </h3>

        <span class="talk-info">{{ post.type }}{% if post.time %} - {{ post.time | date: "%b %-d"}}{% endif %}</span>
      </a>
    </li>
    {%- endfor -%}
  </ul>
</section>

<script>


  document.querySelectorAll('.talk-link').forEach(function(link){

    link.addEventListener("mouseover", function() {
      // this.querySelector('.talk-thumb-img').style.height = '100%';
      // this.querySelector('.overlay').style.opacity = '0';
      this.querySelector('h3').style.opacity = '0';
    })

    link.addEventListener("mouseout", function() {
      // this.querySelector('.talk-thumb-img').style.height = '20vh';
      // this.querySelector('.overlay').style.opacity = '1';
      this.querySelector('h3').style.opacity = '1';
    })

  })



</script>
